{% extends 'base.html' %}
{% load static %}

{% block style %}
    .card{
        margin-top: 20px;
    }
{% endblock %}

{% block body %}
<center style="margin-top: 50px; margin-bottom: 50px; padding-left: 50px;"><h1 class="display-3">Hi Suyash</h1></center>

    <div class="container"><hr></div>

    <div class="container">
      <center><center style="margin-top: 50px; margin-bottom: 50px; padding-left: 50px;"><h1 class="display-4">Your Cart</h1></center></center>
    </div>

  <div class="container" style="margin-top: 50px;">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2">
        {% for order in user_cart %}
        <div class="col">
          <div class="card text-center ">
            <div class="card-header text-dark">
              {{ order.product.name }}
            </div>
            <img src="{{ order.product.image.url }}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Rs.{{ order.product.price }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{% for t in order.product.tags.all %}{{ t }}{% endfor %}</h6>
              <p class="card-text">{{ order.product.description }}</p>
              <hr>
              <a href="{% url 'product' order.product.pk %}" class="btn border bg-light">View Product</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}
